.button {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  border: transparent;
}

.btn--preliminary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--slow-transform);
  transition-timing-function: var(--trans-timing);

  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 50px;
  width: 216px;

  &:hover,
  &:focus {
  background-color: #188CE8;
}
}

.btn--filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--button-color);
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
  padding: 6px 22px;
  transition-property: color, box-shadow;

  transition-duration: var(--slow-transform);
  transition-timing-function: var(--trans-timing);

  &:hover,
  &:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-white-color);
  background: var(--active-color);
}
}

.footer__btn {
  width: 200px;
  height: 50px;

  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border: transparent;
  color: var(--main-white-color);
  display: flex;
  padding: 10px 28px;
  gap: 10px;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-btn {
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  color: var(--main-white-color);
  transition-property: background-color;
  transition-duration: var(--slow-transform);
  transition-timing-function: var(--trans-timing);

  &:hover,
  &:focus {
  background-color: #188CE8;
}
}