.clients {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
  }
}

.clients__text {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__text {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 30px;
  
&:nth-child(2n+2) {
margin-right: 0;
}

&:nth-last-child(-n+2) {
margin-bottom: 0;
}
}
@media screen and (min-width: 768px) {
  .clients__list {
    flex-basis: calc((100% - 30px * 2) / 3);
    
  &:nth-child(3n+3) {
  margin-right: 0;
  }
  
  &:nth-last-child(-n+3) {
  margin-bottom: 0;
  }  
  }
}


.clients__item {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: var(--slow-transform);
  transition-timing-function: var(--trans-timing);
}

.clients__item-icons {
  border: 1px solid var(--second-color);
  border-radius: 4px;
  fill: var(--icons-color);
  transition-property: fill, border;
  transition-duration: var(--slow-transform);
  transition-timing-function: var(--trans-timing);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients__item-icons {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item-icons {
    width: 170px;
  }
}

.clients__item-icons:hover,
.clients__item-icons:focus {
  fill: var(--active-color);
  border: 1px solid var(--active-color);
}
