.hero {
  background: var(--hero-background);
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 767.98px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
// mobile screen
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), url(../images/hero/img_480s.jpg);
// mobile screen retina
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), url(../images/hero/img_480s@2x.jpg);
} 
  
// tablet screen
@media screen and (min-width: 481px) {
background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), url(../images/hero/img_768m.jpg);
}
// tablet screen retina
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), url(../images/hero/img_768m@2x.jpg);
} 

// desktop screen
@media screen and (min-width: 769px) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), url(../images/hero/img_1600l.jpg);
  }
  // desktop screen retina
  @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)), url(../images/hero/img_1600l@2x.jpg);
  } 
  
  @media screen and (min-width: 768px) {
    max-width: 1199px;
  }
    
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42px / 26px);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  }
}

.hero__sign {
  margin-left: auto;
  margin-right: auto;
  width: 360px;

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

