.menu-container {
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition-property: opacity, visibility;

  position: fixed;
  top: 0;
  left: 0;

    z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
  @media screen and (min-width: 768px), (min-width: 1200px) {
    display: none;
   
    &--hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
  &:hover, &:focus {
    color: var(--active-color);
    user-select: none;
    border: transparent;
  }

    @media screen and (min-width: 768px) {
      display: none;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;

//   @media screen and (max-width: 479px) {
//     display: none; 
//   }
//   @media screen and (max-width: 767.98px) {
//     display: none;
// }
@media screen and (min-width: 768px) {
  display: none; 
  opacity: 0;
  visibility: none;

}
@media screen and (min-width: 1200px) {
  display: none;
  opacity: 0;
  visibility: none;

}
}

.menu .link {
  padding: 40px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  border: transparent;
  user-select: none;

@media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
    color: #2196F3;
    border: transparent;
  }



.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  // margin-bottom: 302px;
  &:hover, &:focus {
    color: #2196F3;
    user-select: none;
    border: transparent;
  }
  @media  screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-link {
display: block;
color: black;
text-decoration: none;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;

color: var(--main-color);
&:hover, &:focus {
  color: #2196F3;
  border: transparent;
}
}

.mobile-menu-list:not(:last-child) {
  padding-bottom: 32px;
}

.menu__list {
  margin-top: auto;
  // color: #2196F3;

&:hover, &:focus {
  color: #2196F3;
}
}
.menu__item-1 {
  font-size: 34px;
line-height: calc(40px / 34px);
letter-spacing: 0.02em;

padding-bottom: 32px;

color: #2196F3;
}
.menu__list-1 {
  font-size: 34px;
line-height: calc(40px / 34px);
letter-spacing: 0.02em;

color: #2196F3;
}

.menu__item-2 {
padding-bottom: 64px;
}
.menu__list-2 {
  font-weight: 500;
font-size: 24px;
line-height: calc(28px / 24px);
letter-spacing: 0.02em;

color: #757575;
}
.menu__item-3 {
  display: flex;
  position: relative;

}
.menu__social-list {
  display: flex;
  // flex-basis: calc((100% - 60px) / 4);
// gap: 20px;
  justify-content: flex-start;

  font-weight: 500;
font-size: 18px;
line-height: calc(22px / 18px);

letter-spacing: 0.02em;
}

.menu__social-item {
  font-weight: 500;
font-size: 18px;
line-height: calc(22px / 18px);

letter-spacing: 0.02em;
padding-right: 10px;
margin-right: 10px;
&:not(:last-child) {
  border-right:  1px solid rgba(33, 33, 33, 0.2);
}

}
// .slash-instagram {
//  &::after {
//   content: "";
//   position: absolute;
// width: 22px;
// height: 0px;
// left: 125px;
// top: 726px;

// border: 1px solid rgba(33, 33, 33, 0.2);
// transform: rotate(90deg);
// }
// }
// .slash-twitter {
// &::after {
//   content: "";
// position: absolute;
// width: 22px;
// height: 0px;
// left: 204px;
// top: 726px;

// border: 1px solid rgba(33, 33, 33, 0.2);
// transform: rotate(90deg);
// }
// }

// .slash-facebook {
// &::after {
//   content: "";
// position: absolute;
// width: 22px;
// height: 0px;
// left: 305px;
// top: 726px;

// border: 1px solid rgba(33, 33, 33, 0.2);
// transform: rotate(90deg);
// }


.menu__social-link {
  color: #2196F3;

&:hover, &:focus {
  color: #2196F3;
}

  @media screen and (min-width: 1200px) {
    bottom: -1px;    
  }
}
