.section {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.section-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1.1785714286;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
