:root {
  --main-color: #212121;
  --active-color: #2196F3;
  --second-color: #757575;
  --button-color: #f5f4fa;
  --icons-color: #AFB1B8;
  --main-white-color: #ffffff;
  --hero-background: #2F303A;
  --main-background: #F5F5F5;
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --slow-transform: 250ms;
  --trans-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --idx-backdrop: 1000;
}
